body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin: 0 auto;
    max-width: 800px;
    padding: 40px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #fff;
  }
  
  option {
    background-color: #f7f7f7;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  